<div class="answers">
	<h3>Answered</h3>
	<div class="answered" ng-repeat="(key, answer) in answers">{{key}}</div>
	<button class="btn bnt-primary" ng-click="start();" ng-show="questionsLoaded">Start</button>
	<hr />
	<h3>Poll</h3>
	<div ng-show="currentQuestion" question></div>
</div>