<div class="questions">
	<button class="btn btn-small" ng-click="newQuestion(1,0,0)">New question</button>
	<div class="question-form" ng-show="showQuestionForm">
		<form role="form">
			<input type="hidden" ng-model="showQuestionForm.depth" id="depth">
			<input type="hidden" ng-model="showQuestionForm.parent" id="parent">
			<input type="hidden" ng-model="showQuestionForm.parentAnswer" id="parentAnswer">

			<div class="form-group">
				<label for="question">Question</label>
				<input type="text" class="form-control" id="question" placeholder="Enter question" ng-model="showQuestionForm.question">
			</div>
			<div class="form-group">
				<label for="questionType">Question type</label>
				<select class="form-control" id="questionType" ng-model="showQuestionForm.type">
					<option value="textField">Text Field</option>
					<option value="radio">Radio Button</option>
					<option value="select">Select</option>
					<option value="checkbox">Checkboxes</option>
					<option value="stars">Stars</option>
				</select>
			</div>
			<div class="form-group" ng-show="showQuestionForm.type == 'stars'">
				<label for="starsNb">Number of stars</label>
				<select class="form-control" id="starsNb" ng-model="showQuestionForm.starsNb">
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
			 <div class="checkbox" ng-show="showQuestionForm.type == 'radio' || showQuestionForm.type == 'checkbox' || showQuestionForm.type == 'select'">
				<label>
				<input type="checkbox" ng-model="showQuestionForm.addOther" value="1" name="addOther" id="addOther">Add "OTHER" as last option
				</label>
			</div>
			<button class="btn btn-small" ng-click="addAnswer()" ng-show="showQuestionForm.type != 'textField' && showQuestionForm.type != 'stars' && showQuestionForm.type">Add Answer</button>
			
			<div class="answers" ng-repeat="answer in showQuestionForm.answers" ng-show="showQuestionForm.type == 'radio' || showQuestionForm.type == 'checkbox' || showQuestionForm.type == 'select'">
				<div new-answer></div>
			</div>
			
			<button class="btn btn-small" ng-click="processQuestion();" ng-show="showQuestionForm.question && showQuestionForm.type">Submit</button>
			<button class="btn btn-small" ng-click="resetQuestion();" >Reset</button>
		</form>
	</div>
	<hr />
	<div class="questions-container">
		<h2>Questions</h2>		
		<!-- <div class="question" ng-repeat="(key, question) in tree" ng-if="question.depth == 1"> -->
		<div class="question" ng-repeat="(key, question) in tree">
			<div questions-list></div>
		</div>
	</div>
</div>